*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    width:100%;
    min-height:100vh;
    padding:20px 10%;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:30px;
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:80px;
    flex-wrap:wrap;
}

.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:50px;
    margin-bottom:15px;
}

.hero-text span{
    color:#38bdf8;
}

.hero-text h3{
    font-size:28px;
    margin-bottom:15px;
}

.hero-text p{
    line-height:1.8;
    color:#cbd5e1;
    margin-bottom:25px;
}

button{
    padding:12px 30px;
    border:none;
    background:#38bdf8;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0284c7;
}

.hero-image img{
    width:320px;
    height:320px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid #38bdf8;
    box-shadow:0 0 25px #38bdf8;
}