*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Navbar */
nav{
    background:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

/* Hero Section */
.hero{
    height:80vh;
    background:linear-gradient(to right,#4facfe,#00f2fe);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.content h2{
    font-size:45px;
    margin-bottom:15px;
}

.content p{
    font-size:18px;
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    border:none;
    background:white;
    color:#333;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

/* Cards */
.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
}

.card{
    background:#f4f4f4;
    padding:25px;
    width:250px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.card i{
    width:90px;
    height:90px;
    background:blue;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    margin:0 auto 20px;
    font-style:normal;
}

/* RESPONSIVE DESIGN */

/* Tablet */
@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:10px;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }

    .content h2{
        font-size:35px;
    }
}

/* Mobile */
@media(max-width:480px){

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    nav ul li{
        margin:10px 0;
    }

    .content h2{
        font-size:28px;
    }

    .content p{
        font-size:16px;
    }

    .card{
        width:90%;
    }
}